<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <%= yield %>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
