<header class="main-header">
  <a href="<%= root_path %>" class="logo">
    <span class="logo-mini"><%= fa_icon "clone" %></span>
    <span class="logo-lg"><%= fa_icon "clone" %> <%= get_logo_text %></span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
        </ul>
      </div>
    </div>
  </nav>
</header>
